html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*___________________________________________________________*/
/*   mi codigo   */
 

body {
    background-image: url('../img/imgFondo8.jpg');
    margin: 0;
    height: 100vh;
    background-image: url('tu-imagen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
nav{
    margin-top: 30px;
    }
    
nav a {
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;   
    padding: 5px;
    font-size: large;
    background-color: #929495;
    margin-left: 30px;
    text-align: center;
  
    border-radius: 10px;
   
} 

#contenedorContraseña {
    background-color: rgba(248, 252, 252, 0.3);
    color: whitesmoke;
    width: 650px;
    height: 350px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

#explicacion {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 25px;
    text-align: center;
    padding: 15px;
}

#longitudContraseña {
    padding: 10px;
    text-align: center;
    border: rgb(169, 58, 58) linear 2px;
    background-color: aliceblue;
    color: rgb(53, 53, 53);
    border-radius: 10px;
}

#generarBtn {
    box-shadow: 3px 3px 2px 0px #e8ebec7a;
    background: linear-gradient(rgb(130, 130, 130), rgb(178, 178, 178));
    background-color: #929495;
    border-radius: 15px;
    border: 2px solid #d9d1d9;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 17px;
    padding: 7px 25px;
}

#contraseña {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 18px;
    text-align: center;
    background-color: aliceblue;
    color: rgb(78, 78, 78);
    height: 40px;
    width: 500px;
    text-align: center;
    padding-top: 20px;
    border-radius: 30px;
    margin-bottom: 10px;
}